[user]
    name = Markus Thömmes
    email = markusthoemmes@me.com
[push]
    default = current
[core]
    excludesfile = ~/.gitignore
[pager]
    diff = delta
    show = delta
    log = delta
    reflog = delta
[interactive]
    diffFilter = delta --color-only